doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Starter Template for Bootstrap
    link(rel='stylesheet', href=baseHref + 'public/css/bootstrap.min.css')
    link(rel='stylesheet', href=baseHref + 'public/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href=baseHref + 'public/css/style.css')

  body
    nav.navbar-inverse.navbar-fixed-top
      .container.col-xs-5.masthead-brand
        ul(style='width:350px')
          li.float-left
            a.btn.btn-default(type='button', href='#') New
          li.float-left
            a.btn.btn-default(type='button', href='#') Import
          li.float-left
            a.btn.btn-default(type='button', href='#') Runner
          li.float-left
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-plus(aria-hidden='true')
              span.caret(style='margin-left:4px')
      .container.col-xs-1.center-block.masthead-md-brand
        ul.nav.masthead-nav(style='width:220px')
          li.active
            a(href='#') Builder
          li
            a(href='#') Team Library
      .container.col-xs-6.masthead-brand
        ul.float-right(style='width:445px')
          li.float-right
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-cog(aria-hidden='true')
              span.caret(style='margin-left:4px')
          li.float-right
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-heart(aria-hidden='true')
          li.float-right
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-bell(aria-hidden='true')
          li.float-right
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-wrench(aria-hidden='true')
          li.float-right
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-globe(aria-hidden='true')
          li.float-right
            h6.marginlr10(style='color:gray') IN SYNC
          li.float-right
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-info-sign(aria-hidden='true')
          li.float-right
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-question-sign(aria-hidden='true')
    .container
      block content
    script(src=baseHref + assets.vendor.js)
    script(type='text/javascript')