/*body*/
html, body {
    height: 100%;
    margin: 0;
    background-color: #464646;
}
div, p, button, input{
    background-color: white;
}
/*container*/
.container-fluid,
.container {
    padding: 0px;
    margin: 0px;
}
.nav {
    background-color:#464646;
}
.bar {
    background-color: #fafafa;
}
.nav *,
.bar * {
    background-color: transparent;
}

.primary {
    background-color: #F0F0F0 !important;
}

/*input*/
input {
    padding-left: 10px;
    border-width: 0;
}

/*button*/
.left-raduis-0 {
    border-bottom-left-radius:0px !important;
    border-top-left-radius:0px !important;
}
.right-raduis-0 {
    border-bottom-right-radius:0px !important;
    border-top-right-radius:0px !important;
}

.button-orange {
    background-color:#F47023;
    color:white !important;
}

.button-blue {
    background-color:#097BED !important;
    color:white !important;
}

.button-lightgray {
    background-color:#F0F0F0;
    color:#838383 !important;
}

.button-orange:focus,
.button-orange:hover {
    background-color:#FF8F45 !important;
    color: #ffffff;
}

.button-gray {
    background-color:#585858;
    color:#CACACA;
}
.only-title {
    background-color:#585858;
    padding-left: 10px;
    padding-right: 10px;
}
.only-icon {
    background-color:transparent !important;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: gray;
}

#resultcontent::-webkit-scrollbar {

}

.element::-webkit-scrollbar {
    display:none
}
.button-gray:focus,
.button-gray:hover {
    background-color:#6E6E6E !important;
    color:white !important;
}

input:focus,
button:focus {
    outline: none;
}

button {
    border-style:solid;
    border-color:#DBDBDB;
    border-width: 0;
    border-radius: 2px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

/*button tap*/
#tab {
    flex:1;
    flex-basis:100px;align-items:flex-end;
}

.tab {
    font-size: 12px;
    font-weight: normal;
    border-width: 1px;
    margin-bottom: -1px;
    text-align: left;
    z-index: 2;
}
.tab-normal {
    color: #B4B4B4;
    border-color: #DBDBDB;
    min-width: 130px;
}

.tab-select {
    background-color: #FAFAFA !important;
    color: black;
    min-width: 130px;
    border-bottom-width: 1px;
    border-bottom-color: #F0F0F0;
}

#tab > button {
    margin-right: 5px;
}

#tab > button.only-icon  {
    margin-right: 0px;
    border-right-width: 0px;
    text-align: center;
    min-width: 30px;
}
/*nav*/
nav {
    display: -webkit-flex; /* Safari */
    display: flex;
    height: 50px;
    padding: 0px;
}

#navbar {
    height: 50px;
    padding: 10px;
}
#navbar > ul > li,
#navbar > ul > #new2 {
    padding-right: 10px;
}

.navlightbg-normal,
.navlightbg-select,
.nav-select,
.nav-normal {
    color: #aaaaaa;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: inherit;
}

.navlightbg-select,
.navlightbg-normal {
    color: #A9A9A9;
    font-weight: normal;
    font-size: 13px;
}
.nav-normal:hover,
.nav-normal:focus {
    color: #eee;
    text-decoration: none;
}
.navlightbg-select {
    color:#464646;
    border-bottom-color: #F47023;
}
.nav-select {
    color: #fff;
    border-bottom-color: #F47023;
}
/*other*/
#left {
    display:none!important;
    flex-basis:200px;
    background-color:white;
    cursor:ew-resize;
    box-shadow: 4px 2px 4px #DDDDDD;
    z-index: 2;
}

@media (min-width: 1025px) {
    #left {
        display: -webkit-flex!important; /* Safari */
        display: flex!important;
    }
}

#enviornment {
    min-width:310px;
    max-width:550px;
    padding-left:2px;
    cursor:ew-resize
}

#enviornment > div > div,
#enviornment > div > input {
    margin-left:12px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:0px;
    border-radius: 2px;
    font-size: small;
}

/*urlbar*/
#urlbar {
    padding:12px;
    border-style:solid;
    border-color:#DBDBDB;
    border-width:1px;
    flex-basis:60px;
}
#urlbar > input,
#urlbar > button {
    height:40px;
    color:#808080;
    border-width: 1px;
    border-color: #DCDCDC;
    border-style: double;
    border-radius: 2px;
}
.title-item {
    padding-left:10px;
    justify-content:center;
    border-style:solid;
    border-color:#DBDBDB;
    border-width:1px;
    flex-basis:40px;
}