/*body*/
html, body {
    height: 100%;
    margin: 0;
    background-color: #464646;
    overflow: hidden;
}
* {
    border-width: 0px;
    border-style: solid;
    border-color: #DBDBDB;
}

.d-flex {
    background-color: white;
}
p, button, input
{
    background-color: white;
}



ul {
    margin: 0px;
    padding: 0px;
    list-style-type:none;

}


#requestbodyeditor .jsoneditor-statusbar{
    display: none;
}
.jsoneditor-menu{
    display: none;
}
.jsoneditor {
    border-width:0px !important;
}
#requestbodyeditor {
    border:1px solid lightgray;
    border-radius: 2px;
    padding-bottom: 10px;
}
#authorizationContent {
    min-height:165px;
}
#bodyContent {
    min-height:360px;
}
div.jsoneditor-outer{
    margin: 0 !important;
    padding: 0 !important;
}


#serviceList .collapse {
    min-height: 45px;
}
#serviceList .collapsing > div > div,
#serviceList .collapse > div > div {
    height: 30px;
}
#serviceList .collapsing > div > div > label,
#serviceList .collapse > div > div  label {
    margin: 0px;
    height: 25px;
    line-height: 1.7;
}
#serviceList .collapsing label input,
#serviceList .collapse label input {
    margin-left: 10px;
    margin-right: 8px;
    line-height: 0;
    height: 100%;
    vertical-align: sub;
}

#serviceList .collapsing > .card,
#serviceList .collapse > .card {
   align-items: flex-start;
   padding: 5px 20px 5px 20px;
   min-height: 45px;
}

#serviceList > ul > li {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 40px;
    color: #666666;
    justify-content: start;
}

#serviceList .input-group-prepend{
    padding-left: 20px;
    padding-right:10px;
    padding-top: 11px;
}

input[name="addNewInput"],
button[name="addNew"] {
    width:100%;
    margin-top: 8px;
}
button[name="addNew"] {
    width:100%;
    margin-bottom: 8px;
}
input[name="addNewInput"],
button[name="addNew"],
#serviceList .rebutton{
    flex: 1;
}

#addEscapeString,
#removeEscapeString,
input[name="addNewInput"],
button[name="addNew"],
#serviceList .rebutton > button{
    background-color: dodgerblue;
    height: 20px;
    vertical-align: middle;
    margin-left: 8px;
    line-height: 0;
    color: white;
}


input[name="addNewInput"] {
    border-width: 1px;
    background-color: white;
    border-color: dodgerblue;
    color: #000;
}

#paramstable td,
#paramstable th {
    height: 30px;
    min-height: 30px;
    border-width: 0px 0px 1px 1px;
    box-sizing: border-box;
    text-align: left;
    vertical-align: middle;
    padding: 0px 6px 0px 6px !important;
}
#requestbody > label
{
    margin-left: 20px;
    margin-top:10px
}
#requestbody > label > input
{
    margin-right:5px;
}
td,th {
    margin: 0px;
}
th {
    font-size: smaller;
    font-weight: bold;
}
td > input {
    padding: 0;
}
::-webkit-input-placeholder {
    color: gray;
    font-size: 14px;
}

/*container*/
.container-fluid,
.container {
    padding: 0px;
    margin: 0px;
}

.nav {
    background-color: #464646;
}

.dropdown-menu.show,
.bar {
    background-color: #fafafa;
}

.nav *,
.bar * {
    background-color: transparent;
}

.mybtn-primary {
    background-color: #F0F0F0 !important;
}
.mybtn-secondary {
    color: #F47023;
    font-size: 11px;
}
/*input*/
input {
    padding-left: 10px;
    border-width: 0;
}

/*button*/
.left-raduis-0 {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.right-raduis-0 {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.button-orange {
    background-color: #F47023;
    color: white !important;
}

.button-blue {
    background-color: #097BED !important;
    color: white !important;
}

.button-lightgray {
    background-color: #F0F0F0;
    color: #838383 !important;
}

.button-orange:focus,
.button-orange:hover {
    background-color: #FF8F45 !important;
    color: #ffffff;
}

.button-gray {
    background-color: #585858;
    color: #CACACA;
}

.only-title {
    background-color: #585858;
    padding-left: 10px;
    padding-right: 10px;
}

.only-icon {
    background-color: transparent !important;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: gray;
}

.button-gray:focus,
.button-gray:hover {
    background-color: #6E6E6E !important;
    color: white !important;
}

input:focus,
button:focus {
    outline: none;
}

button {
    border-style: solid;
    border-color: #DBDBDB;
    border-width: 0;
    border-radius: 2px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

/*button tap*/
#tab {
    flex: 1;
    flex-basis: 100px;
    align-items: flex-end;
}

.tab {
    font-size: 12px;
    font-weight: normal;
    border-width: 1px;
    margin-bottom: -1px;
    text-align: left;
    z-index: 2;
}

.tab-normal {
    color: #B4B4B4;
    border-color: #DBDBDB;
    min-width: 130px;
}

.tab-select {
    background-color: #FAFAFA !important;
    color: black;
    min-width: 130px;
    border-bottom-width: 1px;
    border-bottom-color: #F0F0F0;
}

#tab > button {
    margin-right: 5px;
}

#tab > button.only-icon {
    margin-right: 0px;
    border-right-width: 0px;
    text-align: center;
    min-width: 30px;
}

/*nav*/
nav {
    display: -webkit-flex; /* Safari */
    display: flex;
    height: 50px;
    padding: 0px;
}

#navbar {
    height: 50px;
    padding: 10px;
}

#navbar > ul > li,
#navbar > ul > #new2 {
    padding-right: 10px;
}

.navlightbg-normal,
.navlightbg-select,
.nav-select,
.nav-normal {
    color: #aaaaaa;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: inherit;
}

.navlightbg-select,
.navlightbg-normal {
    color: #A9A9A9;
    font-weight: normal;
    font-size: 13px;
}

.nav-normal:hover,
.nav-normal:focus {
    color: #eee;
    text-decoration: none;
}

.navlightbg-select {
    color: #464646;
    border-bottom-color: #F47023;
}

.nav-select {
    color: #fff;
    border-bottom-color: #F47023;
}

/*other*/
#left {
    display: none !important;
    flex-basis: 200px;
    background-color: white;
    cursor: ew-resize;
    box-shadow: 4px 2px 4px #DDDDDD;
    z-index: 2;
}

@media (min-width: 1025px) {
    #left {
        display: -webkit-flex !important; /* Safari */
        display: flex !important;
    }
}

#enviornment {
    min-width: 310px;
    max-width: 550px;
    padding-left: 2px;
    cursor: ew-resize
}

#enviornment > div > div,
#enviornment > div > input {
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    border-radius: 2px;
    font-size: small;
}

/*urlbar*/
#urlbar {
    padding: 12px;
    border-style: solid;
    border-color: #DBDBDB;
    border-width: 1px;
}

#urlbar > input,
#urlbar > button {
    height: 40px;
    color: #808080;
    border-width: 1px;
    border-color: #DCDCDC;
    border-style: double;
    border-radius: 2px;
}

.title-item {
    line-height:2.4;
    padding-left: 10px;
    justify-content: left;
    border-style: solid;
    border-color: #DBDBDB;
    border-width: 1px;
    flex-basis: 40px;
}

/*search bar*/
.searchbar {
    border-width: 1px;
    border-radius: 50px;
    height: 30px;
}

.dropdown-item {
    font-size:11px;
    color:gray;
}

.dropdown-item:hover {
    background-color: #EDEDED;
}
#httpmethod-btn > .dropdown-menu {
    transform: translate3d(12px, 49px, 0px) !important;
}

#settingModal > .modal-dialog {
    max-width:100%;
    width:100%;
    height:100%;
    padding:40px 10% 60px 10%;
    margin:0px;
}
#settingModal .modal-content {
    max-height:570px;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
}

#settingModal .modal-header {
    flex-basis: 40px;
    padding: 0px;
    justify-content: space-between;
    border-radius: 4px 4px 0px 0px;
}
#settingModal .modal-header > button:first-child{
    border-radius: 4px 0px 0px 0px;
}
#settingModal .modal-header button {
    padding: 0px;
    flex: 1;
    height: 100%;
    flex-grow: 0;
    flex-basis: 120px;
}
#settingModal .modal-body {

}
#settingModal .modal-footer {
    height:35px;
    background-color: #FAFAFA;
    border-radius: 0px 0px 4px 4px;
}
.modal-body tbody label{
    margin: 0px 0px 0px 10px;
}
.modal-body tbody th {
    padding-bottom: 8px;
}
.modal-body tbody input{
    margin-left: 8px;
    border-width: 1px;
}