extends layout

block content
    .d-flex.flex-row(style='height:100%')
        #left.d-flex
            .d-flex(style='flex:1;background-color:blue;margin-right:2px;cursor:auto')
        .d-flex.flex-column(style='flex:1;background-color:yellow;')
            .d-flex.flex-column(style='background-color:red;min-height:110px;z-index:1;')
                .d-flex.flex-row(style='background-color:orange;flex-basis:50px;')
                    #tab.d-flex.flex-row(style='flex-basis:100px')
                    #enviornment.d-flex.flex-row.linecolor
                        .d-flex.flex-row(style='flex:1;cursor:auto;')
                            input.d-flex.flex-row(style='flex:1;margin-left:12px;margin-top:10px;margin-bottom:10px;',type='text',placeholder='')
                            #watch.d-flex.flex-row(style='flex-basis:30px')
                                i.fas.fa-eye.d-flex(style='color:#B4B4B4;flex:1;height:100%;padding:6px;')
                            #setting.d-flex.flex-row(style='flex-basis:30px;margin-right:12px')
                                i.fas.fa-cog.d-flex(style='color:#B4B4B4;flex:1;height:100%;padding:5px;')
                .d-flex.flex-column(style='background-color:green;flex-basis:60px;')
            .d-flex.flex-column.position-relative.pre-scrollable(style='top:-110px;max-height:none;margin-bottom:-110px')
                ul
                - for (var x = 0; x < 1000; x++)
                    li item
    script.
      $(document).ready(function () {
        $("#left").mousedown(function (e) {
          $(document).bind("mousemove", function (ev) {
            if (ev.pageX >= 200 && ev.pageX <= 500) {
              $("#left").css("flex-basis", ev.pageX);
            }
          });
        });
        $(document).mouseup(function () {
          $(this).unbind("mousemove");
        });
        $("#enviornment").mousedown(function (e) {
          let x = e.pageX;
          let y = e.pageY;
          let width = $('#enviornment').width();
          $(document).bind("mousemove", function (ev) {
              $("#enviornment").css("flex-basis", width + x-ev.pageX);
          });
        });
      });