doctype html
html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        link(rel='stylesheet', href='/bootstrap-3.3.7/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap-3.3.7/dist/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Starter Template for Bootstrap

            // Custom styles for this template
    body
        nav.navbar-inverse.navbar-fixed-top(style='min-width:1024px;background-image:linear-gradient(#484848, #484848);')
            .container.col-xs-4.masthead-brand
                ul(style='width:350px')
                    li.float-left
                        a.btn.btn-default(style='background-image: linear-gradient(#F47023, #F47023);' type='button', href='#') New
                            span.glyphicon.glyphicon-plus(style='margin-left:4px', aria-hidden='true')
                    li.float-left(style='margin-left:0px')
                        a.btn.btn-default(style='background-image: linear-gradient(#F47023, #F47023)' type='button', href='#')
                            span.caret()
                    li.float-left
                        a.btn.btn-default(type='button', href='#') Import
                    li.float-left
                        a.btn.btn-default(type='button', href='#') Runner
                    li.float-left
                        button.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-plus(aria-hidden='true')
                            span.caret(style='margin-left:4px')
            .container.col-xs-2.center-block.masthead-md-brand
                ul.nav.masthead-nav(style='width:220px')
                    li.active
                        a(href='#') Builder
                    li
                        a(href='#') Team Library
            .container.col-xs-6.masthead-brand
                ul.float-right(style='width:445px')
                    li.float-right
                        button.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-cog(aria-hidden='true')
                            span.caret(style='margin-left:4px')
                    li.float-right
                        button.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-heart(aria-hidden='true')
                    li.float-right
                        button.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-bell(aria-hidden='true')
                    li.float-right
                        button.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-wrench(aria-hidden='true')
                    li.float-right
                        button.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-globe(aria-hidden='true')
                    li.float-right
                        h6.marginlr10(style='color:gray') IN SYNC
                    li.float-right
                        button.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-info-sign(aria-hidden='true')
                    li.float-right
                        button.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-question-sign(aria-hidden='true')
        .container-fluid(style='height:100%;padding-left:0px;padding-right:0px;padding-top:14px')
            block content
        script(type='text/javascript', src='/javascripts/jquery-3.2.1.min.js')