extends layout

block content
    .d-flex.flex-row.h-100(style='padding-bottom:30px;')
        #left.d-flex
            .d-flex.flex-column(style='flex:1;margin-right:2px;cursor:auto')
                .d-flex.bar(style='min-height:50px;padding:10px 5px 10px;')
                    input.d-flex.bar.searchbar(style='flex:1;padding-left:40px;min-height:30px;' type="text" placeholder='Filter') 
                    i.fas.fa-search.position-absolute(style='left:0px;color:gray;padding-left:10px;padding-right:10px;height:30px;width:40px;')
                .bar.d-flex.flex-row(style='min-height:30px;border-bottom-width:1px;')
                    button#primary.col-6.navlightbg-select 主板
                    button#internation.col-6.navlightbg-normal 国际版
                #primaryContent.d-flex.flex-column(style='height:100%;')
                    .bar.d-flex.justify-content-sm-end.align-items-center(style='min-height:40px;border-bottom-width:1px;')
                        button.mybtn-secondary Clear all
                    #primarylist.d-flex.flex-column.position-relative.pre-scrollable(style='max-height:none;overflow:auto;')
                        ul
                #internationContent.d-flex.flex-column(style='height:100%;display:none !important;')
                    .bar.d-flex.justify-content-sm-end.align-items-center(style='min-height:40px;border-bottom-width:1px;')
                        button.mybtn-secondary Clear all2
                    #internationlist.d-flex.flex-column.position-relative.pre-scrollable(style='max-height:none;overflow:auto;')
                        ul
        #rightcontent.d-flex.flex-column(style='flex:1;')
            .d-flex.flex-column(style='min-height:110px;z-index:5;background-color:transparent')
                .d-flex.flex-row(style='flex-basis:50px;')
                    #tab.bar.d-flex.flex-row
                        button.tab.tab-select(style='margin-left:10px;') New Tab
                        button.tab.tab-normal New Tab
                        button.tab.tab-normal.only-icon
                            i.fas.fa-plus
                        button.tab.tab-normal.only-icon(style='border-right-width:1px')
                            i.fas.fa-ellipsis-h
                    #enviornment.d-flex.flex-row(style='background-color: #DBDBDB;')
                        #sub-enviornment.bar.d-flex.flex-row(style='flex:1;cursor:auto;')
                            input.mybtn-primary.d-flex.flex-row(style='flex:1;margin-left:12px;margin-top:10px;margin-bottom:10px;' type='text' value='No Environment' placeholder='Type to filter')
                            #watch.mybtn-primary.d-flex.flex-row(style='flex-basis:30px')
                                i.fas.fa-eye.d-flex.h-100(style='color:#B4B4B4;flex:1;padding:6px;')
                            #setting.mybtn-primary.d-flex.flex-row(style='flex-basis:30px;margin-right:12px')
                                i.fas.fa-cog.d-flex.h-100(style='color:#B4B4B4;flex:1;padding:5px;')
                #urlbar.bar.position-absolute.d-flex.flex-row.align-items-center(style='top:0px;height:60px;margin-top:100px;margin-right:15px;')
                    button#httpmethod-btn.mybtn-primary.right-raduis-0.border-right-0.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', style='width:120px;') GET
                        i.fa.fa-angle-down(style='color:#f5f5f5')
                        .dropdown-menu(style='min-width:120px;max-width:120px', aria-labelledby='dropdownMenuButton')
                    input#urlInput.mybtn-primary.border-right-0(type="text",style='border-radius:0px;flex:1;' placeholder='Enter request URL')
                    button#Params.mybtn-primary.left-raduis-0(style='width:84px;font-weight:normal;color:black;') Params
                    button#SendRequest.button-blue.right-raduis-0(style='margin-left:10px;width:70px;border-width:0px 1px 0px 0px;border-color:rgba(100,100,100,40)') Send
                    button.button-blue.left-raduis-0(style='border-width:0px;width:30px;')
                        i.fas.fa-caret-down
                    button.mybtn-primary.right-raduis-0.border-right-0(style='width:50px;margin-left:10px') Save
                    button.mybtn-primary.left-raduis-0(style='width:30px;')
                        i.fas.fa-caret-down
            #resultcontent.d-flex.flex-column.pre-scrollable.h-100(style='padding-top:60px;margin-top:-60px;max-height:none;overflow:auto;')
                table#paramstable.table.m-0(style='display:none;border-bottom-width:1px;')
                    tbody
                        tr
                            th(style='width:40px;')
                            th Key
                            th Value
                            th Description
                            th(style='width:40px;text-align: center;') ...
                            th(style='width:75px;text-align: center;') Bulk Edit
                    tbody#paramsContent
                    tfoot
                        tr
                            td
                            td
                                input(name='firstName' placeholder='New Key' onfocus='this.placeholder = ""' onblur='this.placeholder = "New Key"')
                            td
                                input(placeholder='Value' onfocus='this.placeholder = ""' onblur='this.placeholder = "Value"')
                            td(colspan="3")
                                input(placeholder='Description' onfocus='this.placeholder = ""' onblur='this.placeholder = "Description"')

                .bar.d-flex.flex-row(style='border-bottom-width:1px;min-height:35px;')
                    button#authorization.navlightbg-select Authorization
                    button#headers.navlightbg-normal Headers
                    button#body.navlightbg-normal Body
                    button#pre-requestScript.navlightbg-normal Pre-request Script
                    button#tests.navlightbg-normal Tests
                    .d-flex.flex-row.justify-content-end(style='padding-right:10px;flex:1')
                        button.mybtn-secondary Cookies
                        button.mybtn-secondary Code
                .d-flex.flex-row(style='min-height:165px;')
                    .col-4(style='border-right-width:1px;min-width:256px')
                        p(style='font-size:11px;') TYPE
                        button.mybtn-primary(style='font-size:11px;') Inherit auth from parent
                        p(style='font-size:11px;') The authorization header will be automatically generated when you send the request. <a href="#"  target="_blank"> Learn more about authorization </a>
                    .col.d-flex.flex-row(style='align-items:center;justify-content:center;padding-left:25px;padding-right:25px')
                        p.text-center(style='color:gray;font-size:13px;') This request is not inheriting any authorization helper at the moment. Save it in a collection to use the parent's authorization helper.
                .d-flex.flex-column(style='min-height:800px;max-height:none;flex-basis:100%')
                    .bar.d-flex.flex-column.title-item
                        p.m-0 Response
                    #jsoneditor.d-flex.flex-row(style='flex:1;')

    script(type='text/javascript', src='/public/index.js')
