doctype html
html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(defer='', src='/fonts/fontawesome-free-5.0.6/svg-with-js/js/fontawesome-all.js')
        script(type='text/javascript', src='/javascripts/jquery-3.2.1.min.js')
        title PostMan-Like
    body
        .container-fluid
            #navbar.ul.nav.justify-content-between.flex-nowrap(style='height:50px;padding:10px')
                ul.nav.flex-nowrap(style='width:350px')
                    #new1.li.nav-item
                        button.p-0(type='button', style='width:65px')
                            ul.nav(style='background-color:#0000;margin-left:10px;margin-top:3px;height:20px')
                                li.m-0.nav-item
                                    i.fas.fa-plus-square(style='width:17px;height:17px')
                                li.nav-item(style='margin-left:3px')
                                    p.m-0 New
                    #new2.li.nav-item
                        button(type='button')
                            i.fas.fa-caret-down
                    li.nav-item
                        button Import
                    li.nav-item
                        button Runner
                    li.nav-item
                        button(style='width:40px')
                            i.fas.fa-plus
                            i.fas.fa-caret-down
                #navcenter.ul.nav.flex-nowrap(style='height:40px')
                    ul.nav.flex-nowrap
                        li.active
                            p(href='#',style='height:40px') Builder
                        li
                            p.text-nowrap(href='#',style='height:40px') Team Library
                #navleft.ul.flex-nowrap.nav.d-flex.flex-row-reverse(style='width:350px')
                    li.nav-item
                        button
                            i.fas.fa-cog
                            i.fas.fa-caret-down
                    li.nav-item
                        button
                            i.fas.fa-heart
                    li.nav-item
                        button
                            i.fas.fa-bell
                    li.nav-item
                        button
                            i.fas.fa-wrench
                    li.nav-item
                        button
                            i.fas.fa-globe
                    li.nav-item
                        h6.m-0(style='color:gray;line-height:30px;') IN SYNC
                    li.nav-item
                        button
                            i.fas.fa-sign-in-alt
                    li.nav-item
                        button
                            i.fas.fa-question
    .container-fluid(style='height:100%;margin-top:-50px;padding-top:50px')
        block content
