doctype html
html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        link(rel='stylesheet', href='/public/css/bootstrap.min.css')
        link(rel='stylesheet', href='/public/css/style.css')
        script(defer='', src='/public/fonts/js/fontawesome-all.min.js')
        script(type='text/javascript', src='/public/vendor.js')
        title PostMan-Like
    body
        .container-fluid
            #navbar.ul.nav.justify-content-between.flex-nowrap(style='height:50px;padding:10px')
                ul.nav.flex-nowrap(style='width:350px')
                    #new1.li.nav-item
                        button.button-orange.p-0.right-raduis-0(type='button', style='width:65px;')
                            ul.nav.d-flex(style='margin-left:10px;margin-top:3px;padding-bottom:6px;height:100%')
                                li.m-0.nav-item
                                    i.fas.fa-plus-square(style='margin-top:3px;width:17px;height:17px')
                                li.nav-item(style='margin-top:1px;margin-left:3px')
                                    p.m-0(style='') New
                    #new2.li.nav-item
                        button.button-orange.left-raduis-0(style='border-color:#DD6000;border-left-width:1px;')
                            i.fas.fa-caret-down
                    li.nav-item
                        button.button-gray.only-title Import
                    li.nav-item
                        button.button-gray.only-title Runner
                    li.nav-item
                        button.button-gray.only-title(style='width:50px')
                            i.fas.fa-plus
                            i.fas.fa-caret-down
                #navcenter.ul.nav.flex-nowrap(style='height:40px')
                    ul.nav.flex-nowrap
                        li.nav-select
                            p(href='#',style='height:40px') Builder
                        li.nav-normal
                            p.text-nowrap(href='#',style='height:40px') Team Library
                #navleft.ul.flex-nowrap.nav.d-flex.flex-row-reverse(style='width:350px')
                    li.nav-item
                        button.button-gray.only-icon(style='width:40px')
                            i.fas.fa-cog
                            i.fas.fa-caret-down
                    li.nav-item
                        button.button-gray.only-icon
                            i.fas.fa-heart
                    li.nav-item
                        button.button-gray.only-icon
                            i.fas.fa-bell
                    li.nav-item
                        button.button-gray.only-icon
                            i.fas.fa-wrench
                    li.nav-item
                        button.button-gray.only-icon
                            i.fas.fa-globe
                    li.nav-item
                        h6.m-0(style='color:gray;line-height:30px;') IN SYNC
                    li.nav-item
                        button.button-gray.only-icon
                            i.fas.fa-sign-in-alt
                    li.nav-item
                        button.button-gray.only-icon
                            i.fas.fa-question
    .container-fluid(style='height:100%;margin-top:-50px;padding-top:50px')
        block content
