doctype html
html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
        meta(name='description', content='')
        meta(name='author', content='')
       
        link(rel='icon', href='../../favicon.ico')
        link(rel='stylesheet', href='/public/css/bootstrap.min.css')
        link(rel='stylesheet', href='/public/css/style.css')
        link(rel='stylesheet', href='/public/css/jsoneditor.css')
        script(defer='', src='/public/fonts/js/fontawesome-all.min.js')
        script(type='text/javascript', src='/public/vendor.js')
        script(type='text/javascript', src='/public/bootstrap.bundle.js')
        title PostMan-Like
    body
        .container-fluid.position-relative(style='box-shadow: 0px 5px 10px #DDDDDD;z-index:3;')
            #navbar.ul.nav.justify-content-between.flex-nowrap
                ul.nav.flex-nowrap(style='width:350px')
                    #new1.li.nav-item(data-toggle='modal', data-target='#settingModal')
                        button.button-orange.p-0.right-raduis-0(type='button', style='width:65px;')
                            ul.nav.d-flex.h-100(style='margin-left:10px;margin-top:3px;padding-bottom:6px;')
                                li.m-0.nav-item
                                    i.fas.fa-plus-square(style='margin-top:3px;width:17px;height:17px')
                                li.nav-item(style='margin-top:1px;margin-left:3px')
                                    p.m-0 New
                    #new2.li.nav-item
                        button.button-orange.left-raduis-0(style='border-color:#DD6000;border-left-width:1px;')
                            i.fas.fa-caret-down
                    li.nav-item
                        button.button-gray.only-title Import
                    li.nav-item
                        button.button-gray.only-title Runner
                    li.nav-item
                        button.button-gray.only-title(style='width:50px')
                            i.fas.fa-plus
                            i.fas.fa-caret-down
                #navcenter.ul.nav.flex-nowrap(style='height:40px')
                    ul.nav.flex-nowrap
                        li#builder.nav-select
                            p(href='#',style='height:40px') Builder
                        li#teamLibrary.nav-normal
                            p.text-nowrap(href='#',style='height:40px') Team Library
                #navleft.ul.flex-nowrap.nav.d-flex.flex-row-reverse(style='width:350px')
                    li.nav-item
                        button.button-gray.only-icon(style='width:40px')
                            i.fas.fa-cog
                            i.fas.fa-caret-down
                    li.nav-item
                        button.button-gray.only-icon
                            i.fas.fa-heart
                    li.nav-item
                        button.button-gray.only-icon
                            i.fas.fa-bell
                    li.nav-item
                        button.button-gray.only-icon
                            i.fas.fa-wrench
                    li.nav-item
                        button.button-gray.only-icon
                            i.fas.fa-globe
                    li.nav-item
                        h6.m-0(style='color:gray;line-height:30px;') IN SYNC
                    li.nav-item
                        button.button-gray.only-icon
                            i.fas.fa-sign-in-alt
                    li.nav-item
                        button.button-gray.only-icon
                            i.fas.fa-question
        // 模态框（Modal）
        #settingModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .d-flex.modal-header
                        button#cratenew.col-6.navlightbg-select Create New
                        button#templates.col-6.navlightbg-normal Templates
                        button#apinetwork.col-6.navlightbg-normal API Network
                        .d-flex(style='flex:1')
                        button.close(type='button', data-dismiss='modal', aria-hidden='true',style='flex-basis: 40px;padding: 0px;margin: -5px 0 0 0 ')
                            | ×
                    .modal-body
                        .d-flex.flex-column
                            .d-flex(name='appVer')
                                label.radio-inline(style='margin-left: 30px;')
                                    input(type='radio', name='appVer', value='1' checked='')
                                    |  主板
                                label.radio-inline(style='margin-left: 30px;')
                                    input(type='radio', name='appVer', value='2')
                                    |  国际版
                            .d-flex(style='flex:1;align-items: center;align-content:flex-start;flex-wrap:wrap;')
                                table
                                    thead
                                        tr
                                            th
                                                label Request Params
                                    tbody
                                        tr
                                            th
                                                label(style='')
                                                    |  Version
                                            th
                                                input(type='text', placeholder="e.g 5" value="5" name='Version')
                                        tr
                                            th
                                                label(style='')
                                                    |  SystemCode
                                            th
                                                input(type='text', placeholder="e.g 17" value="17" name='SystemCode')
                                        tr
                                            th
                                                label(style='')
                                                    |  ClientVersion
                                            th
                                                input(type='text', placeholder="e.g 711" value="711" name='ClientVersion')
                                        tr
                                            th
                                                label(style='')
                                                    |  Encoding
                                            th
                                                input(type='text',placeholder="e.g 3" value="3" name='Encoding')
                    .d-flex.modal-footer.align-content-center
                        button.btn.btn-default(type='button', data-dismiss='modal' , style='line-height:0px')
                            | 关闭
    .container-fluid.h-100(style='margin-top:-50px;padding-top:50px')
        block content
    .container-fluid.bar.position-relative(style='margin-top:-30px;height:30px;z-index:13;')
