html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title Signin Template for Bootstrap
        // Bootstrap core CSS
        link(rel='stylesheet', href='/bootstrap-3.3.7/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap-3.3.7/dist/css/bootstrap-theme.min.css')
        // Custom styles for this template
        link(rel='stylesheet', href='/stylesheets/signin.css')
        script(type='text/javascript', src='/javascripts/jquery-3.2.1.min.js')
        script.
            $(document).ready(function(){
              let callback;
              let json;
                $("p#submit").click(function() {
                  let data = {
                    username: $('#inputUsername').val(),
                    password: $('#inputPassword').val(),
                    remember: 1
                  };
                  $.post({
                    data: data,
                    url: "#{baseHref}" + 'login',
                    headers:{contentType:'application/json',cacheControl:'no-cache'}
                  }).done(function (res) {
                    if(res.rc === 0){
                        localStorage.setItem('token',res.user.token);
                        //  var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
                        //  if (arr = document.cookie.match(reg))
                        //    arr[2];
                        // window.location.href="http://www.cnblogs.com/daimajun/";
                    }
                    else {
                      alert(res.error);
                    }
                  }).fail(function (err) {
                    alert(err)
                  })
                });
            });
body
    .container
        form.form-signin
            h2.form-signin-heading Please sign in
            label.sr-only(for='inputUsername') Username
            input#inputUsername.form-control(type='username', placeholder='Username', required='', autofocus='')
            label.sr-only(for='inputPassword') Password
            input#inputPassword.form-control(type='password', placeholder='Password', required='')
            .checkbox
                label
                    input(type='checkbox', value='remember-me')
                    |  Remember me
            p.btn.btn-lg.btn-primary.btn-block(type='submit',id='submit') Sign in

